.icon-48-iscrizioni {
      background-image: url(../images/l_iscrizioni.png);
      padding-left:60px!important;
}

.icon-48-iscrizione {
      background-image: url(../images/l_iscrizioni.png);
      padding-left:60px!important;
}

